@model TaskView

<form id="{@Model.Id}_EditForm">
    <div class="row">
        <div class="col">
            <input id="{@Model.Id}_EditInput" taskid="@Model.Id" type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button id="{@Model.Id}_SaveChanges" taskid="@Model.Id" type="submit" class="btn btn-success">
                <i class="bi bi-save">Сохранить</i>
            </button>
            <button id="{@Model.Id}_Cancel" taskid="@Model.Id" type="button" class="btn btn-danger">
                <i class="bi bi-crop">Отмена</i>
            </button>
        </div>
    </div>
</form>