@{
    ViewData["Title"] = "Tasks";
    @model IEnumerable<TaskView>
}

<h2>Ваши задачи на сегодня</h2>

<button class="btn btn-light mb-3" data-toggle="modal" data-target="#CreateTask">
    <i class="bi bi-plus">Добавить задачу</i>
</button>

<div class="container">
    @foreach (var task in Model)
    {
        <div id="{@task.Id}_TaskInfo" class="row">
            <div>
                <button id="{@task.Id}_TaskDone" taskId="@task.Id" class="btn btn-light" type="button">
                    <i class="bi bi-check-circle"></i>
                </button>
            </div>
            <div class="col">
                <p id="{@task.Id}_TaskName" class="form-text">@task.Name</p>
            </div>
            <div id="{@task.Id}_TaskBtnGroup" class="col-2" style="visibility: hidden">
                <button id="{@task.Id}_EditTask" taskId="@task.Id" class="btn btn-light" type="button">
                    <i class="bi bi-pencil-square"></i>
                </button>
            </div>
        </div>
        <div style="display: none" id="{@task.Id}_TaskEditPanel">
            @await Html.PartialAsync("Task/_TaskEditForm", task)
        </div>
        <hr>
    }
</div>

@await Html.PartialAsync("AddTaskModal", new TaskView())

<script src="js/Index.js"></script>