@{
    ViewData["Title"] = "Tasks";
    @model IEnumerable<TaskView>
}

<h2>Ваши задачи на сегодня</h2>

<button class="btn btn-light" data-toggle="modal" data-target="#CreateTask">
    <i class="bi bi-plus">Добавить задачу</i>
</button>

<div class="container">
    @foreach (var task in Model)
    {
        <div class="row">
            <div class="col-1">
                <a asp-action="TaskDone" asp-route-taskId="@task.Id"><input type="checkbox"></a>
            </div>
            @task.Name
        </div>

    }
</div>

@await Html.PartialAsync("AddTaskModal", new TaskView())
@section Scripts
{
    @{ <partial name="_ValidationScriptsPartial" /> }
}