@{
    ViewData["Title"] = "Tasks";
    @model IEnumerable<TaskView>
}

<h2>Ваши задачи на сегодня</h2>

<button class="btn btn-light" data-toggle="modal" data-target="#CreateTask">
    <i class="bi bi-plus">Добавить задачу</i>
</button>
@* todo: сделать асинхронную обработку изменения статуса заадчи (через fetch в js) *@
<div class="container">
    @foreach (var task in Model)
    {
        <div class="row">
            <div>
                <button id="{@task.Id}_TaskDone" taskId="@task.Id" class="btn btn-light" type="button" role="checkbox">
                    <i class="bi bi-check-circle"></i>
                </button>
            </div>
            <div class="col-auto">
                <p class="form-text">@task.Name</p>
            </div>
        </div>
    }
</div>

@await Html.PartialAsync("AddTaskModal", new TaskView())

<script src="js/Index.js"></script>